.contact {
    position: relative;
    box-sizing: border-box;
    width: 90%;
    margin: 2.5% auto;
    overflow-x: hidden;
    font-family: sans-serif;
    padding: 70px 0;

}

.contact-form {
    position: relative;
    z-index: 2;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 90%;
    height: 90%;
    margin: 0 auto;
    padding: 2.5% 2.5%;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-family: Thasadith;
    font-size: 18px;
}

.form-heading {
    color: black;
}

form > input {
    box-sizing: border-box;

    height: 40px;
    width: 80%;

    margin: 0 0 10px 0;
    padding: 10px;
}

textarea {
    box-sizing: border-box;

    height: 500px;
    width: 80%;

    margin: 0 0 10px 0;
    padding: 10px;
}

form > label {
    width: 80%;

    color: #f2f2f2;
    
    line-height: 21px;
    padding-bottom: 7.5px;
}

.submit-btn {
    box-sizing: border-box;
    min-width: 80px;
    width: 80px;
    margin: 25px;
    padding: 5px;
    border: 0px solid #00c4cc;
    border-radius: 5px;

    font-family: BebasNeue;
    font-size: 25px;
    font-weight: 200;
    

    color: white; 
    background-color: #57a3bd;
}

.submit-btn:hover {
    box-sizing: border-box;
    /* color: white !important; 
    background-color: #57a3bd; */
    transition: all 0.1s;
    cursor: pointer;

    border: 1px solid #00c4cc;

    /* background-color: white;
    color: rgb(87, 163, 189); */

    transform: scale(1.05);

}

.submit-btn:active {
    transform: scale(1.01);
}
