@font-face {
    font-family: BebasNeue;
    src: url(../assets/fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: DancingScript;
    src: url(../assets/fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

.about-summary {
    position: relative;
    box-sizing: border-box;
    padding: 2.5% 2.5%;
    width: 90%;
    height: 90%;
    margin: 5% auto;
    overflow-x: hidden;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.desc_title {
    font-size: 5rem;
    font-family: BebasNeue;
    color: hsl(0, 0%, 30%);
    margin: 0;
}

.desc_content {
    font-size: 1.25rem;
    font-family: Montserrat;
}
