.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    height: 70px;
    background-color: rgb(255, 255, 255);
    width: 100%;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-family: Montserrat;
    box-shadow: rgba(0, 0, 0, 1) 0px 0px 5px;
}

.navbar-brand-img {
    width: 100% !important;
    margin: auto 0;
    padding: 0;
}

.navbar-brand {
    /* width: 300px !important; */
    height: 95% !important;
    margin: 2.5% 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(6, 1fr) ;

    height: 100%;
    margin-right: 30px;
}

li {
    list-style: none;
    margin: 0;
}

.nav-item {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    margin: 0;
}

.nav-link {
    height: 100%;
    width: 100%;
    margin: 0;
    border: none;
    font-size: 20px;
    color: #00c4cc;
    background-color: rgba(0, 0, 0, 0);
}

.nav-link:hover {
    box-sizing: border-box;
    color: white !important; 
    background-color: rgb(87, 163, 189);
    /* background-color: #DB9150; */
    transition: all 0.2s;
    cursor: pointer;
    margin: 0;
}
